.trending-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 1012px;
}

.pdng-responsive {
  padding-right: 16px !important;
  padding-left: 16px !important;
}

@media (min-width: 544px) {
  .pdng-responsive {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
}

@media (min-width: 1012px) {
  .pdng-responsive {
    padding-right: 16px !important;
    padding-left: 16px !important;
  }
}

.react-select__menu {
  background-color: transparent !important;
  &-list {
    background-color: #161b22;
    color: white;
    border-radius: 5px;
    border: solid 1px #30363d;
  }

  &__option {
    border-bottom: solid 1px #21262d;
  }
  &__option:last-child {
    border-bottom: none;
  }
}
