.trending-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 1012px;
}

.pdng-responsive {
  padding-right: 16px !important;
  padding-left: 16px !important;
}

@media (min-width: 544px) {
  .pdng-responsive {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
}

@media (min-width: 1012px) {
  .pdng-responsive {
    padding-right: 16px !important;
    padding-left: 16px !important;
  }
}
